.header {
    position: relative;
    font-size: 2.2rem;
    //display: flex;
    display: grid;
    justify-content: end;
    background-color: transparent;
    transition: all .8s cubic-bezier(.77, .43, .65, .98);
    margin-bottom: -8rem;
    z-index: 2;
}

// .sticky {
//     position: fixed;
//     background-color: #ffffffb9;
//     z-index: 10;
//     display: grid;
//     justify-content: end;
//     box-shadow: 0 1rem .5rem rgba(#000000, .25)
// }
.logo-box {
    position: absolute;
    cursor: pointer;
    color: var(--color-primary);
    animation: moveInLeft 2s cubic-bezier(.17, .67, .71, .8);
}

.logo {
    height: 4.5rem;
    width: 7.5rem;
    margin-left: 3.5rem;
    margin-top: 2rem;
    @include respond(phone) {
        margin-left: 1rem;
    }
}