.btn {
    &,
    &:link,
    &:visited {
        cursor: pointer;
        text-align: center;
        height: 4.2rem;
        width: 18rem;
        display: block;
        text-decoration: none;
        border-radius: var(--button-border-radius);
        border: none;
        font-family: var(--light-font);
        font-size: var(--default-font-size);
        // animation: moveInLeft 2s cubic-bezier(.17, .67, .71, .8);
        &:hover {
            transform: translateY(-.3rem);
            box-shadow: $button-box-shadow;
        }
        &:active {
            transform: translateY(-.1rem);
            box-shadow: $button-box-shadow;
        }
    }
    &__intro {
        background-color: var(--color-secondary);
        color: var(--color-white);
        margin-top: 2rem;
        text-align: center;
        padding: .8rem;
        @include respond(phone) {
            margin: 2.8rem 0;
        }
    }
    &__steps {
        background-color: var(--color-white);
        color: var(--color-tertiary);
        margin-left: 6rem;
        text-align: center;
        padding: .8rem;
        box-shadow: $button-box-shadow;
        margin-top: 4rem;
        // animation: moveUp 2s cubic-bezier(.17, .67, .71, .8);
        &--last {
            margin-top: 7rem;
        }
    }
}

.btn-join {
    &,
    &:link,
    &:visited {
        cursor: pointer;
        text-align: center;
        height: 5rem;
        width: 15rem;
        text-decoration: none;
        border-radius: 2rem;
        border: 1px solid var(--color-white);
        display: inline-block;
        font-family: var(--light-font);
        font-size: var(--default-font-size);
        background-color: transparent;
        color: var(--color-white);
        padding: 1rem 0;
        margin: 2rem 0;
        transition: all 2ms ease-in;
        &__home {
            background-color: var(--color-secondary);
        }
        // animation: moveUp 2s cubic-bezier(.17, .67, .71, .8);
        &:hover {
            background-color: var(--color-white);
            color: var(--color-primary);
        }
    }
}

.btn-submit {
    &,
    &:link,
    &:visited {
        cursor: pointer;
        text-align: center;
        height: 6rem;
        width: 85%;
        text-decoration: none;
        border-radius: var(--button-border-radius);
        border: none;
        display: inline-block;
        font-family: var(--light-font);
        font-size: var(--default-font-size);
        background-color: var(--color-primary);
        color: var(--color-white);
        padding: 1.6rem 0;
        // animation: moveUp 2s cubic-bezier(.17, .67, .71, .8);
        &:hover {
            transform: translateY(-.3rem);
            box-shadow: $button-box-shadow;
        }
        &:active {
            transform: translateY(-.1rem);
            box-shadow: $button-box-shadow;
        }
    }
}