.download {
    &__flex {
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--color-grey-dark-2);
        @include respond(phone) {
            flex-direction: column;
        }
    }
    &__cards {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 6rem;
        bottom: 3rem;
        @include respond(phone) {
            margin-left: 0;
            margin-top: 12rem;
            left: 0;
        }
    }
    &__card {
        height: 8.5rem;
        width: 85%;
        border: none;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        &:not(:first-child) {
            margin-top: 3.5rem;
        }
        @include respond(tab-port) {
            width: 92%;
        }
        @include respond(phone) {
            width: 108%;
        }
        @include respond(small-screen) {
            width: 133%;
            margin-left: -2rem;
        }
    }
    &__icons {
        position: relative;
        margin-bottom: 3rem;
    }
    &__icon {
        font-size: 3rem;
        color: #4F2AFF;
    }
    &__img {
        @include respond(tab-land-card) {
            width: 40rem;
        }
    }
}