.intro {
    background-image: url("https://res.cloudinary.com/dx2a1g2mb/image/upload/v1581072180/shopping_intro_mnlyaa.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 85rem;
    @include respond(tab-port) {
        margin-top: 2rem;
    }
    @include respond(phone) {
        height: 90rem;
        margin-top: 0;
    }
}

.intro-bout {
    background-image: url("https://res.cloudinary.com/dx2a1g2mb/image/upload/v1581072782/about_oja_rfo91m.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 85rem;
    @include respond(phone) {
        height: 57rem;
        background-size: contain;
    }
}

.intro-partner {
    background-image: url("https://res.cloudinary.com/dx2a1g2mb/image/upload/v1581072188/partner_yn1em6.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 85rem;
    @include respond(phone) {
        height: 57rem;
        background-size: contain;
    }
}