.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    &__text-content {
        flex: 0 0 50%;
        position: relative;
        right: 11rem;
        top: 3rem;
    }
    &__image-content {
        margin-top: 8rem;
        z-index: 1;
    }
    &__image {
        width: 25rem;
    }
    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
        margin-right: 30rem;
    }
    &__icon {
        // height: 4rem;
        // width: 4rem;
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}

.intro-about {
    @include head-image
}

.intro-partner {
    @include head-image
}