.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(phone) {
        flex-direction: column;
    }
    &__text-content {
        flex: 0 0 50%;
        position: relative;
        right: 11rem;
        top: 3rem;
        @include respond(tab-land-card) {
            right: 3rem;
        }
        @include respond(phone) {
            right: -1rem;
            top: 15rem;
        }
    }
    &__image-content {
        margin-top: 8rem;
        z-index: 1;
        @include respond(tab-pad) {
            margin-top: 10rem;
        }
        @include respond(phone) {
            margin-top: 20rem;
        }
    }
    &__image {
        width: 25rem;
        @include respond(phone) {
            width: 30rem;
        }
    }
    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
        margin-right: 30rem;
        @include respond(tab-land-card) {
            margin-right: 20rem;
        }
        @include respond(phone) {
            margin-right: 0;
        }
    }
    &__icon {
        @include respond(phone) {
            height: 5rem;
        }
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}

.intro-about {
    @include head-image
}

.intro-partner {
    @include head-image
}