.subscribe {
    color: var(--color-grey-dark-2);
    display: flex;
    @include respond(phone) {
        flex-direction: column;
    }
    &__news {
        margin-right: 2rem;
        position: relative;
        right: 6rem;
        @include respond(phone) {
            right: 0;
        }
    }
    &__form {
        position: relative;
        flex: 0 0 50%;
        margin-top: 2rem;
        &--input {
            font-family: var(--light-font);
            font-size: 1.5rem;
            color: inherit;
            border-radius: .3rem;
            border: none;
            outline: none;
            padding: 0 2rem;
            width: 60%;
            height: 6rem;
            background-color: rgba(133, 137, 255, 0.116);
            transition: all .2s;
            // animation: moveDown 2s cubic-bezier(.17, .67, .71, .8);
            &:focus {
                outline-color: none;
                width: 65%;
                border-bottom: 1px solid var(--color-tertiary);
            }
            &::-webkit-input-placeholder {
                color: var(--color-primary);
            }
        }
    }
}