.cta {
    flex: 0 0 43%;
    position: relative;
    left: 6rem;
    @include respond(tab-land-card) {
        left: 3rem;
    }
    @include respond(tab-port) {
        left: 4rem;
    }
    @include respond(tab-pad) {
        left: 7rem;
    }
    @include respond(phone) {
        left: 1rem;
        top: 13%;
    }
    &__image-content {
        position: relative;
        left: 4rem;
        top: 1rem;
        @include respond(phone) {
            top: 4.05rem;
        }
    }
    &__image {
        width: 83.7rem;
        @include respond(tab-land-card) {
            width: 65.5rem;
        }
    }
}