.intro-section {
    background: linear-gradient(to bottom, #1436f5b6, #4c7cffec, #5b76f0b9), url("https://res.cloudinary.com/oja/image/upload/q_auto:eco/v1589041688/shopping_intro_lbq7g0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70rem;
    padding: 5rem 0;
    position: relative;
    @include respond(phone) {
        height: 95rem;
    }
    &::before {
        content: '';
        background: url("https://res.cloudinary.com/oja/image/upload/q_auto/v1589041701/wave_bta4kp.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 53rem;
        width: 256rem;
        position: absolute;
        top: 38%;
        left: 0;
        bottom: 0;
        right: 0;
        @include respond(phone) {
            height: 72rem;
            width: 200rem;
        }
    }
}

.intro-about-section {
    background: linear-gradient(to bottom, #1436f5b6, #4c7cffec, #5b76f0b9), url("https://res.cloudinary.com/oja/image/upload/q_auto:eco/v1589043405/About_image_vzrmwu.jpg");
    @include head-background
}

.intro-section-partner {
    background: linear-gradient(to bottom, #1436f5b6, #4c7cffec, #5b76f0b9), url("https://res.cloudinary.com/oja/image/upload/q_auto:eco/v1589041681/partner_pqhcmu.jpg");
    @include head-background
}

.step-section {
    background-color: var(--color-white);
    @include respond(phone) {
        margin-top: 30rem;
        padding: .5rem 6.5rem;
    }
}

.section-innovate {
    padding: 8rem 10rem;
    background-color: var(--color-light);
    @include respond(phone) {
        padding: 8rem 0;
    }
}

.section-experience {
    padding: 8rem 10rem;
    background-color: var(--color-white);
    @include respond(phone) {
        padding: 8rem 0;
    }
}

.section-deliver {
    padding: 8rem 10rem;
    background-color: var(--color-light);
    @include respond(phone) {
        padding: 8rem 0;
    }
}

.section-partners {
    padding: 0 4rem;
    background-color: var(--color-white);
}

.section-download {
    padding: 0 15rem;
    background-color: var(--color-white);
    z-index: 5;
    margin: 10rem 0;
}

.section-values {
    padding: 8rem 6rem;
    background-color: var(--color-white);
}

.section-about {
    padding: 2rem 4rem;
    background-color: var(--color-grey-light-1);
}

.section-form {
    margin-top: 20rem;
    padding: 3rem 0;
    background-image: url("https://res.cloudinary.com/oja/image/upload/q_auto/v1589041679/partner_form_ppu7ue.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 85rem;
    @include respond(phone) {
        padding: 3rem 3rem;
        background-size: cover;
    }
}

.cta-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #3123f5d8, #021c7944), url("https://res.cloudinary.com/oja/image/upload/v1589041636/cool-background_d3e63v.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.7rem;
    @include respond(tab-land-card) {
        height: 35.3rem;
    }
    @include respond(phone) {
        flex-direction: column;
        height: 78rem;
    }
}